<app-comp-menu></app-comp-menu>
<!DOCTYPE html>
<html lang="en">

<head>
    
    <title>PetCare</title>
   

    <!-- Customized Bootstrap Stylesheet -->
    <link href="" rel="stylesheet">
</head>

<body>
        <!-- Carousel Start -->
        <div class="container-fluid p-0">
            <div id="header-carousel" class="carousel slide" data-ride="carousel">
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <img class="w-100" src="https://media.tycsports.com/files/2023/11/10/644591/perros_862x485.webp" alt="">
                        <div class="carousel-caption d-flex flex-column align-items-center justify-content-center">
                            <div class="p-3" style="max-width: 900px;">
                                <h3 class="text-white mb-3 d-none d-sm-block">Los mejores servicios para sus mascotas</h3>
                                <h1 class="display-3 text-white mb-3">PANTENGA A SU AMIGO PERRUNO FELIZ</h1>
                                <h5 class="text-white mb-3 d-none d-sm-block">Tu fiel compañero, nuestro compromiso.</h5>
                                <a href="" class="btn btn-lg btn-secondary mt-3 mt-md-4 px-4">Conocenos mas</a>
                            </div>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <img class="w-100" src="https://hips.hearstapps.com/hmg-prod/images/gettyimages-1422023439-64f1eaf518ace.jpg?crop=1xw:0.84375xh;center,top&resize=1200:*" alt="Image">
                        <div class="carousel-caption d-flex flex-column align-items-center justify-content-center">
                            <div class="p-3" style="max-width: 900px;">
                                <h3 class="text-white mb-3 d-none d-sm-block">Los mejores servicios para sus mascotas</h3>
                                <h1 class="display-3 text-white mb-3">PANTENGA A SU AMIGO PERRUNO FELIZ</h1>
                                <h5 class="text-white mb-3 d-none d-sm-block">u fiel compañero, nuestro compromiso</h5>
                             
                            </div>
                        </div>
                    </div>
                </div>
                <a class="carousel-control-prev" href="#header-carousel" data-slide="prev">
                    <div class="btn btn-primary rounded" style="width: 45px; height: 45px;">
                        <span class="carousel-control-prev-icon mb-n2"></span>
                    </div>
                </a>
                <a class="carousel-control-next" href="#header-carousel" data-slide="next">
                    <div class="btn btn-primary rounded" style="width: 45px; height: 45px;">
                        <span class="carousel-control-next-icon mb-n2"></span>
                    </div>
                </a>
            </div>
        </div>
        <!-- Carousel End -->
    
    
        <!-- Booking Start -->
        <div class="container-fluid bg-light">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-lg-5">
                        <div class="bg-primary py-5 px-4 px-sm-5">
                            <form class="py-5">
                                <div class="form-group">
                                    <input type="text" class="form-control border-0 p-4" placeholder="Nombre Completo" required="required" />
                                </div>
                                <div class="form-group">
                                    <input type="text" class="form-control border-0 p-4" placeholder="Nombre Mascota" required="required" />
                                </div>
                                <div class="form-group">
                                    <input type="email" class="form-control border-0 p-4" placeholder="Correo Electronico" required="required" />
                                </div>
                                <div class="form-group">
                                    <div class="date" id="date" data-target-input="nearest">
                                        <input type="date" class="form-control border-0 p-4 datetimepicker-input" placeholder="Reserva el dia" data-target="#date" data-toggle="datetimepicker"/>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="time" id="time" data-target-input="nearest">
                                        <input type="time" class="form-control border-0 p-4 datetimepicker-input" placeholder="A que hora desea el servicio" data-target="#time" data-toggle="datetimepicker"/>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <select class="custom-select border-0 px-4" style="height: 47px;">
                                        <option selected>Selecciona el servicio</option>
                                        <option value="1">Cuidar tu mascota</option>
                                        <option value="2">Darle un paseo a tu mascota</option>
                                        <option value="3">Tienda</option>
                                    </select>
                                </div>
                                <div>
                                    <button class="btn btn-dark btn-block border-0 py-3" type="submit">Reserva ahora</button>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="col-lg-7 py-5 py-lg-0 px-3 px-lg-5">
                        <h4 class="text-secondary mb-3">¿Necesitas Salir?</h4>
                        <h1 class="display-4 mb-4">Nosotros Cuidamos <span class="text-primary">tu mascota</span></h1>
                        <p>"Confía en nosotros para el amor y cuidado de tu mejor amigo peludo."</p>
                             </div>
                </div>
            </div>
        </div>
        <!-- Booking Start -->
    
    
        <!-- About Start -->
        <div class="container py-5">
            <div class="row py-5">
                <div class="col-lg-7 pb-5 pb-lg-0 px-3 px-lg-5">
                    <h4 class="text-secondary mb-3">Sobre Nosotros</h4>
                    <h1 class="display-4 mb-4"><span class="text-primary">Alojamiento</span> y <span class="text-secondary">Paseadero</span></h1>
                    <h5 class="text-muted mb-3">"Nuestra misión es cuidar y mimar a tus peludos".</h5>
                    <p class="mb-4">En Amigos Fieles, nos dedicamos apasionadamente al bienestar y la felicidad de tus adorables compañeros peludos. Como amantes de los animales, entendemos la importancia de proporcionar un ambiente seguro, amoroso y estimulante para cada uno de nuestros clientes de cuatro patas.</p>
                    <ul class="list-inline">
        
                        <li><h5><i class="fa fa-check-double text-secondary mr-3"></i>Atencion de Domingo a Domingo</h5></li>
                    </ul>
                    <a href="" class="btn btn-lg btn-primary mt-3 px-4">Infomate mas</a>
                </div>
                <div class="col-lg-5">
                    <div class="row px-3">
                        <div class="col-12 p-0">
                            <img class="img-fluid w-100" src="https://i.pinimg.com/736x/61/92/60/6192605243989ebfa81c6801688c492a.jpg" alt="">
                        </div>
                        <div class="col-6 p-0">
                            <img class="img-fluid w-100" src="https://www.laclinicaveterinaria.com/wp-content/uploads/2022/02/Captura-de-pantalla-2022-02-02-a-las-13.49.23_resultado-scaled.webp" alt="">
                        </div>
                        <div class="col-6 p-0">
                            <img class="img-fluid w-100" src="https://images.ecestaticos.com/-rJSr90d0gKhT0yb_RKua-7nbvA=/0x0:1000x750/1200x900/filters:fill(white):format(jpg)/f.elconfidencial.com%2Foriginal%2F019%2F7d6%2F3a0%2F0197d63a0125fca44caea22349b6d10f.jpg" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- About End -->
    
    
        <!-- Services Start -->
        <div class="container-fluid bg-light pt-5">
            <div class="container py-5">
                <div class="d-flex flex-column text-center mb-5">
                    <h4 class="text-secondary mb-3">Nuestros servicios</h4>
                    <h1 class="display-4 m-0"><span class="text-primary"></span> Servicios para tu mascota</h1>
                </div>
                <div class="row pb-3">
                    <div class="col-md-6 col-lg-4 mb-4">
                        <div class="d-flex flex-column text-center bg-white mb-2 p-3 p-sm-5">
                            <h3 class="flaticon-house display-3 font-weight-normal text-secondary mb-3"></h3>
                            <h3 class="mb-3">Paseamos tu mascota</h3>
                            <p>
                                "Deja que tus peludos disfruten de la vida al aire libre! En nuestra página, les ofrecemos aventuras emocionantes y paseos divertidos para que tu mascota esté feliz y saludable."</p>
                            <a class="text-uppercase font-weight-bold" href="">Descrube mas </a>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-4 mb-4">
                        <div class="d-flex flex-column text-center bg-white mb-2 p-3 p-sm-5">
                            <h3 class="flaticon-food display-3 font-weight-normal text-secondary mb-3"></h3>
                            <h3 class="mb-3">Cuidamos tu mascota</h3>
                            <p>Confía en nosotros para cuidar a tu mejor amigo. En nuestra página, brindamos atención amorosa y profesional para garantizar que tu mascota esté segura, feliz y en las mejores manos.</p>
                            <a class="text-uppercase font-weight-bold" href="">Descrube mas</a>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-4 mb-4">
                        <div class="d-flex flex-column text-center bg-white mb-2 p-3 p-sm-5">
                            <h3 class="flaticon-grooming display-3 font-weight-normal text-secondary mb-3"></h3>
                            <h3 class="mb-3">Baño tu mascota</h3>
                            <p>Refresca el día de tu mascota con nuestros servicios de baño. Deja que nuestra atención especializada y cuidadosa haga que tu amigo peludo se sienta limpio, cómodo y radiante. ¡Porque cada mascota merece un día de spa!</p>
                            <a class="text-uppercase font-weight-bold" href="">Descrube mas</a>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-4 mb-4">
                        <div class="d-flex flex-column text-center bg-white mb-2 p-3 p-sm-5">
                            <h3 class="flaticon-cat display-3 font-weight-normal text-secondary mb-3"></h3>
                            <h3 class="mb-3">Acessorios</h3>
                            <p>
                                "Encuentra los accesorios perfectos para tu compañero peludo en nuestra tienda. Desde juguetes hasta collares y todo lo que necesitas para hacer feliz a tu mascota, ¡te esperamos con una amplia variedad de productos de alta calidad para consentir a tu amigo de cuatro patas!"</p>
                            <a class="text-uppercase font-weight-bold" href="">Descrube mas</a>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-4 mb-4">
                        <div class="d-flex flex-column text-center bg-white mb-2 p-3 p-sm-5">
                            <h3 class="flaticon-dog display-3 font-weight-normal text-secondary mb-3"></h3>
                            <h3 class="mb-3">Entrenamiemto personalizado</h3>
                            <p>"¡Dale a tu mascota la mejor educación con nuestro entrenamiento personalizado! Nuestros expertos trabajan contigo y tu compañero peludo para desarrollar habilidades, fortalecer el vínculo y garantizar una convivencia armoniosa."</p>
                            <a class="text-uppercase font-weight-bold" href="">Descrube mas</a>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-4 mb-4">
                        <div class="d-flex flex-column text-center bg-white mb-2 p-3 p-sm-5">
                            <h3 class="flaticon-vaccine display-3 font-weight-normal text-secondary mb-3"></h3>
                            <h3 class="mb-3">Clases de modales</h3>
                            <p>Domina el arte de la obediencia y la convivencia con tu peludo! Descubre nuestras clases de modales para tu compañero de cuatro patas."</p>
                            <a class="text-uppercase font-weight-bold" href="">Descrube mas</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Services End -->
    
    
        <!-- Features Start -->
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-5">
                    <img class="img-fluid w-100" src="https://scontent.fbog2-5.fna.fbcdn.net/v/t39.30808-6/302569261_551183086809353_2621758457061249593_n.jpg?_nc_cat=109&ccb=1-7&_nc_sid=5f2048&_nc_ohc=95y_IsVJpZIAX-NJ-QR&_nc_ht=scontent.fbog2-5.fna&oh=00_AfC6g6xRtdDZZ_NuSFtaZQlAGpG7GlJ11x277j0vf33lww&oe=6609D8C0" alt="">
                </div>
                <div class="col-lg-7 py-5 py-lg-0 px-3 px-lg-5">
                    <h4 class="text-secondary mb-3">Eligenos a nosotros</h4>
                    <h1 class="display-4 mb-4"><span class="text-primary">Cuidados especiales</span> para tu peludo</h1>
                    <p class="mb-4">¡Únete a nuestra comunidad de amantes de los perros y experimenta la diferencia que puede hacer Amigos Fieles en la vida de tu mascota! Estamos aquí para cuidar, mimar y consentir a tus amigos peludos como si fueran nuestros propios compañeros de vida.</p>
                        </div>
                    </div>
                </div>
           
      
        <!-- Features End -->
    
    
        <!-- Pricing Plan Start -->
        <div class="container-fluid bg-light pt-5 pb-4">
            <div class="container py-5">
                <div class="d-flex flex-column text-center mb-5">
                    <h4 class="text-secondary mb-3">Nuestros PLanes</h4>
                    <h1 class="display-4 m-0">Escoge <span class="text-primary">el mejor precio</span></h1>
                </div>
                <div class="row">
                    <div class="col-lg-4 mb-4">
                        <div class="card border-0">
                            <div class="card-header position-relative border-0 p-0 mb-4">
                                <img class="card-img-top" src="https://grupovierci.brightspotcdn.com/dims4/default/eb82e75/2147483647/strip/true/crop/1280x721+0+0/resize/1000x563!/format/webp/quality/90/?url=https%3A%2F%2Fk2-prod-grupo-vierci.s3.us-east-1.amazonaws.com%2Fbrightspot%2F37%2F93%2Fa286743f4adc97cdad58da7212fe%2Flabrador.jpg" alt="">
                                <div class="position-absolute d-flex flex-column align-items-center justify-content-center w-100 h-100" style="top: 0; left: 0; z-index: 1; background: rgba(0, 0, 0, .5);">
                                    <h3 class="text-primary mb-3">Basico</h3>
                                    <h1 class="display-4 text-white mb-0">
                                        <small class="align-top" style="font-size: 22px; line-height: 45px;">$</small>70.000<small class="align-bottom" style="font-size: 16px; line-height: 40px;">/ Mo</small>
                                    </h1>
                                </div>
                            </div>
                            <div class="card-body text-center p-0">
                                <ul class="list-group list-group-flush mb-4">
                                    <li class="list-group-item p-2"><i class="fa fa-check text-secondary mr-2"></i>Paseo 3 veces a la semana</li>
                                    <li class="list-group-item p-2"><i class="fa fa-check text-secondary mr-2"></i>Baño</li>
                                    <li class="list-group-item p-2"><i class="fa fa-times text-danger mr-2"></i>Accesorios</li>
                                    <li class="list-group-item p-2"><i class="fa fa-times text-danger mr-2"></i>una cuidada al mes</li>
                                </ul>
                            </div>
                            <div class="card-footer border-0 p-0">
                                <a href="" class="btn btn-primary btn-block p-3" style="border-radius: 0;">Comprar</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 mb-4">
                        <div class="card border-0">
                            <div class="card-header position-relative border-0 p-0 mb-4">
                                <img class="card-img-top" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTNVgTIXoOTE-GyO_tBkluetToESLrwnsZo-w&usqp=CAU" alt="">
                                <div class="position-absolute d-flex flex-column align-items-center justify-content-center w-100 h-100" style="top: 0; left: 0; z-index: 1; background: rgba(0, 0, 0, .5);">
                                    <h3 class="text-primary mb-3">Basico</h3>
                                    <h1 class="display-4 text-white mb-0">
                                        <small class="align-top" style="font-size: 22px; line-height: 45px;">$</small>90.000<small class="align-bottom" style="font-size: 16px; line-height: 40px;">/ Mo</small>
                                    </h1>
                                </div>
                            </div>
                            <div class="card-body text-center p-0">
                                <ul class="list-group list-group-flush mb-4">
                                    <li class="list-group-item p-2"><i class="fa fa-check text-secondary mr-2"></i>paseo de lunes a viernes </li>
                                    <li class="list-group-item p-2"><i class="fa fa-check text-secondary mr-2"></i>Baño</li>
                                    <li class="list-group-item p-2"><i class="fa fa-check text-secondary mr-2"></i>Ejercico</li>
                                    <li class="list-group-item p-2"><i class="fa fa-times text-danger mr-2"></i>Dos cuidadas al mes</li>
                                </ul>
                            </div>
                            <div class="card-footer border-0 p-0">
                                <a href="" class="btn btn-secondary btn-block p-3" style="border-radius: 0;">Signup Now</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 mb-4">
                        <div class="card border-0">
                            <div class="card-header position-relative border-0 p-0 mb-4">
                                <img class="card-img-top" src="https://www.laclinicaveterinaria.com/wp-content/uploads/2022/02/Captura-de-pantalla-2022-02-02-a-las-13.49.23_resultado-scaled.webp" alt="">
                                <div class="position-absolute d-flex flex-column align-items-center justify-content-center w-100 h-100" style="top: 0; left: 0; z-index: 1; background: rgba(0, 0, 0, .5);">
                                    <h3 class="text-primary mb-3">Premium</h3>
                                    <h1 class="display-4 text-white mb-0">
                                        <small class="align-top" style="font-size: 22px; line-height: 45px;">$</small>120.000<small class="align-bottom" style="font-size: 16px; line-height: 40px;">/ Mo</small>
                                    </h1>
                                </div>
                            </div>
                            <div class="card-body text-center p-0">
                                <ul class="list-group list-group-flush mb-4">
                                    <li class="list-group-item p-2"><i class="fa fa-check text-secondary mr-2"></i>paseo todos los días</li>
                                    <li class="list-group-item p-2"><i class="fa fa-check text-secondary mr-2"></i>Baño y spa</li>
                                    <li class="list-group-item p-2"><i class="fa fa-check text-secondary mr-2"></i>Entreamineto personalizado</li>
                                    <li class="list-group-item p-2"><i class="fa fa-check text-secondary mr-2"></i>10 cuidadas al mes</li>
                                </ul>
                            </div>
                            <div class="card-footer border-0 p-0">
                                <a href="" class="btn btn-primary btn-block p-3" style="border-radius: 0;">Signup Now</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Pricing Plan End -->
    
    
        <!-- Team Start -->
        <div class="container mt-5 pt-5 pb-3">
            <div class="d-flex flex-column text-center mb-5">
                <h4 class="text-secondary mb-3">Equipo</h4>
                <h1 class="display-4 m-0">Todos <span class="text-primary">Nuestros cuidadores</span></h1>
            </div>
            <div class="row">
                <div class="col-lg-3 col-md-6">
                    <div class="team card position-relative overflow-hidden border-0 mb-4">
                        <img class="card-img-top" src="https://www.tiendanimal.es/articulos/wp-content/uploads/2018/06/los-perros-mejores-que-las-personas-por-que.jpg" alt="">
                        <div class="card-body text-center p-0">
                            <div class="team-text d-flex flex-column justify-content-center bg-light">
                                <h5>Sonia Maria Rosas</h5>
                                <i>Cuidadora</i>
                            </div>
                            <div class="team-social d-flex align-items-center justify-content-center bg-dark">
                                <a class="btn btn-outline-primary rounded-circle text-center mr-2 px-0" style="width: 36px; height: 36px;" href="#"><i class="fab fa-twitter"></i></a>
                                <a class="btn btn-outline-primary rounded-circle text-center mr-2 px-0" style="width: 36px; height: 36px;" href="#"><i class="fab fa-facebook-f"></i></a>
                                <a class="btn btn-outline-primary rounded-circle text-center mr-2 px-0" style="width: 36px; height: 36px;" href="#"><i class="fab fa-linkedin-in"></i></a>
                                <a class="btn btn-outline-primary rounded-circle text-center px-0" style="width: 36px; height: 36px;" href="#"><i class="fab fa-instagram"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="team card position-relative overflow-hidden border-0 mb-4">
                        <img class="card-img-top" src="https://www.shutterstock.com/image-photo/happy-european-man-holding-comforting-260nw-2325934007.jpg" alt="">
                        <div class="card-body text-center p-0">
                            <div class="team-text d-flex flex-column justify-content-center bg-light">
                                <h5>Pablo Martinez Moreno</h5>
                                <i>Cuidador</i>
                            </div>
                            <div class="team-social d-flex align-items-center justify-content-center bg-dark">
                                <a class="btn btn-outline-primary rounded-circle text-center mr-2 px-0" style="width: 36px; height: 36px;" href="#"><i class="fab fa-twitter"></i></a>
                                <a class="btn btn-outline-primary rounded-circle text-center mr-2 px-0" style="width: 36px; height: 36px;" href="#"><i class="fab fa-facebook-f"></i></a>
                                <a class="btn btn-outline-primary rounded-circle text-center mr-2 px-0" style="width: 36px; height: 36px;" href="#"><i class="fab fa-linkedin-in"></i></a>
                                <a class="btn btn-outline-primary rounded-circle text-center px-0" style="width: 36px; height: 36px;" href="#"><i class="fab fa-instagram"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="team card position-relative overflow-hidden border-0 mb-4">
                        <img class="card-img-top" src="https://www.colsubsidio.com/hs-fs/hubfs/img/colsubsidio/apoyo-financiero/card-vetplus-asistencia-seguros-02.png?width=730&height=360&name=card-vetplus-asistencia-seguros-02.png" alt="">
                        <div class="card-body text-center p-0">
                            <div class="team-text d-flex flex-column justify-content-center bg-light">
                                <h5>Carolina lemuns</h5>
                                <i>Cuidadora</i>
                            </div>
                            <div class="team-social d-flex align-items-center justify-content-center bg-dark">
                                <a class="btn btn-outline-primary rounded-circle text-center mr-2 px-0" style="width: 36px; height: 36px;" href="#"><i class="fab fa-twitter"></i></a>
                                <a class="btn btn-outline-primary rounded-circle text-center mr-2 px-0" style="width: 36px; height: 36px;" href="#"><i class="fab fa-facebook-f"></i></a>
                                <a class="btn btn-outline-primary rounded-circle text-center mr-2 px-0" style="width: 36px; height: 36px;" href="#"><i class="fab fa-linkedin-in"></i></a>
                                <a class="btn btn-outline-primary rounded-circle text-center px-0" style="width: 36px; height: 36px;" href="#"><i class="fab fa-instagram"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="team card position-relative overflow-hidden border-0 mb-4">
                        <img class="card-img-top" src="https://imagenes.muyinteresante.com/files/main_gallery/uploads/2022/10/12/6346ba255b8cf.jpeg" alt="">
                        <div class="card-body text-center p-0">
                            <div class="team-text d-flex flex-column justify-content-center bg-light">
                                <h5>Santiago Rojas Pinilla</h5>
                                <i>Cuidador y Entrenador</i>
                            </div>
                            <div class="team-social d-flex align-items-center justify-content-center bg-dark">
                                <a class="btn btn-outline-primary rounded-circle text-center mr-2 px-0" style="width: 36px; height: 36px;" href="#"><i class="fab fa-twitter"></i></a>
                                <a class="btn btn-outline-primary rounded-circle text-center mr-2 px-0" style="width: 36px; height: 36px;" href="#"><i class="fab fa-facebook-f"></i></a>
                                <a class="btn btn-outline-primary rounded-circle text-center mr-2 px-0" style="width: 36px; height: 36px;" href="#"><i class="fab fa-linkedin-in"></i></a>
                                <a class="btn btn-outline-primary rounded-circle text-center px-0" style="width: 36px; height: 36px;" href="#"><i class="fab fa-instagram"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Team End -->
    
    
        <!-- Testimonial Start -->
        <div class="container-fluid bg-light my-5 p-0 py-5">
            <div class="container p-0 py-5">
                <div class="d-flex flex-column text-center mb-5">
                    <h4 class="text-secondary mb-3">Testimonios</h4>
                    <h1 class="display-4 m-0">Nuestros <span class="text-primary">Clientes</span></h1>
                </div>
                <div class="owl-carousel testimonial-carousel">
                    <div class="bg-white mx-3 p-4">
                        <div class="d-flex align-items-end mb-3 mt-n4 ml-n4">
                            <img class="img-fluid" src="https://covalto.com/static/78498ccda70933a5f1e3edc3e40d3cbe/34aca/Hero_Mobile_Cuenta_Personas_V1_1_8046e424ea.webp" style="width: 80px; height: 80px;" alt="">
                            <div class="ml-3">
                                <h5>Pedro Jimenez</h5>
                                <i>Administardos de empresas</i>
                            </div>
                        </div>
                        <p class="m-0">Sali unas semanas de mi casa y deje al cuidado a estas hermoso personas mi perruno max y el servicio fue fenomenal</p>
                    </div>
                    <div class="bg-white mx-3 p-4">
                        <div class="d-flex align-items-end mb-3 mt-n4 ml-n4">
                            <img class="img-fluid" src="https://img.freepik.com/foto-gratis/retrato-hermoso-mujer-joven-posicion-pared-gris_231208-10760.jpg?size=626&ext=jpg&ga=GA1.1.1297763733.1711584000&semt=sph" style="width: 80px; height: 80px;" alt="">
                            <div class="ml-3">
                                <h5>Maria Perez</h5>
                                <i>Doctora Pediatrica</i>
                            </div>
                        </div>
                        <p class="m-0">Me recomendaron estos servicios de paseo y me ha ido muy bien </p>
                    </div>
                    <div class="bg-white mx-3 p-4">
                        <div class="d-flex align-items-end mb-3 mt-n4 ml-n4">
                            <img class="img-fluid" src="https://static.cegos.es/content/uploads/2023/03/01165224/GettyImages-1300321639.jpg" style="width: 80px; height: 80px;" alt="">
                            <div class="ml-3">
                                <h5>Cristina Solis</h5>
                                <i>Docente</i>
                            </div>
                        </div>
                        <p class="m-0">Es fenomenal la cantidad de servicios que nos brinda petcare a nuestro poludos le doy un 1000 a us atención</p>
                    </div>
                    <div class="bg-white mx-3 p-4">
                        <div class="d-flex align-items-end mb-3 mt-n4 ml-n4">
                            <img class="img-fluid" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTE4h0dQpT7W65j3G0aaTpVYe7dIiRlMqcdNg&usqp=CAU" style="width: 80px; height: 80px;" alt="">
                            <div class="ml-3">
                                <h5>Alberto Mendieta</h5>
                                <i>Abogado</i>
                            </div>
                        </div>
                        <p class="m-0">Los entrenamietos personalizado y spa son un servicio fenomenal para nuestros amigos peludos, Exelente servicio</p>
                    </div>
                </div>
            </div>
        </div>
        <!-- Testimonial End -->
    
    
        <!-- Blog Start -->
        <div class="container pt-5">
            <div class="d-flex flex-column text-center mb-5">
                <h4 class="text-secondary mb-3">Nuestro blog</h4>
                <h1 class="display-4 m-0"><span class="text-primary"></span>Peludos</h1>
            </div>
            <div class="row pb-3">
                <div class="col-lg-4 mb-4">
                    <div class="card border-0 mb-2">
                        <img class="card-img-top" src="https://okdiario.com/img/2023/05/30/-cuantos-huesos-tiene-el-perro.jpg" alt="">
                        <div class="card-body bg-light p-4">
                            <h4 class="card-title text-truncate">Lucas</h4>
                            <div class="d-flex mb-3">
                                <small class="mr-2"><i class="fa fa-user text-muted"></i> Juan</small>
                                <small class="mr-2"><i class="fa fa-folder text-muted"></i> Morales</small>
                                <small class="mr-2"><i class="fa fa-comments text-muted"></i> 15</small>
                            </div>
                            <p>me gusta jugar y pasear por mucho tiempo para estar al aire libre con mis cuidadores de petcare</p>
                            <a class="font-weight-bold" href="">Seguir leyendo</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 mb-4">
                    <div class="card border-0 mb-2">
                        <img class="card-img-top" src="https://hips.hearstapps.com/hmg-prod/images/gettyimages-1445222765-65b34c2915805.jpg?crop=1xw:0.8423586572438162xh;center,top&resize=1200:*" alt="">
                        <div class="card-body bg-light p-4">
                            <h4 class="card-title text-truncate">Salomon y su historia</h4>
                            <div class="d-flex mb-3">
                                <small class="mr-2"><i class="fa fa-user text-muted"></i> Cesar</small>
                                <small class="mr-2"><i class="fa fa-folder text-muted"></i> vistas</small>
                                <small class="mr-2"><i class="fa fa-comments text-muted"></i> 15</small>
                            </div>
                            <p>Soy un peludo timinido pero cariñoso, los entrenamietos me han ayudado a comportante en sitios publicos</p>
                            <a class="font-weight-bold" href="">Seguir Leyendo</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 mb-4">
                    <div class="card border-0 mb-2">
                        <img class="card-img-top" src="https://static.nationalgeographic.es/files/styles/image_3200/public/01-dog-baby-talk-NationalGeographic_2283205.jpg?w=1600&h=900" alt="">
                        <div class="card-body bg-light p-4">
                            <h4 class="card-title text-truncate">Matis</h4>
                            <div class="d-flex mb-3">
                                <small class="mr-2"><i class="fa fa-user text-muted"></i> Sara</small>
                                <small class="mr-2"><i class="fa fa-folder text-muted"></i> Cuellar</small>
                                <small class="mr-2"><i class="fa fa-comments text-muted"></i> 15</small>
                            </div>
                            <p>voy al baño y al spa para relajarme y sentirme comodo conmigo mismo soy un peludo adorable</p>
                            <a class="font-weight-bold" href="">Seguir Leyendo</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Blog End -->
    
    
        <!-- Footer Start -->
        <div class="container-fluid bg-dark text-white mt-5 py-5 px-sm-3 px-md-5">
            <div class="row pt-5">
                <div class="col-lg-4 col-md-12 mb-5">
                    <h1 class="mb-3 display-5 text-capitalize text-white"><span class="text-primary">Pet</span>Core</h1>
                    <p class="m-0">En las bulliciosas calles de la ciudad, donde el ajetreo y el estrés eran moneda corriente, existía un lugar especial llamado PetCore. Este santuario para mascotas se erguía como un oasis de tranquilidad, ofreciendo un refugio seguro para aquellos compañeros peludos que necesitaban amor y cuidado mientras sus humanos estaban ocupados con sus quehaceres diarios.</p>
                </div>
                <div class="col-lg-8 col-md-12">
                    <div class="row">
                        <div class="col-md-4 mb-5">
                            <h5 class="text-primary mb-4">Contactos</h5>
                            <p><i class="fa fa-map-marker-alt mr-2"></i>calle 134, Bogota, Barrio virrey</p>
                            <p><i class="fa fa-phone-alt mr-2"></i>+57 345 67890</p>
                            <p><i class="fa fa-envelope mr-2"></i>infopetcare.com</p>
                            <div class="d-flex justify-content-start mt-4">
                                <a class="btn btn-outline-light rounded-circle text-center mr-2 px-0" style="width: 36px; height: 36px;" href="#"><i class="fab fa-twitter"></i></a>
                                <a class="btn btn-outline-light rounded-circle text-center mr-2 px-0" style="width: 36px; height: 36px;" href="#"><i class="fab fa-facebook-f"></i></a>
                                <a class="btn btn-outline-light rounded-circle text-center mr-2 px-0" style="width: 36px; height: 36px;" href="#"><i class="fab fa-linkedin-in"></i></a>
                                <a class="btn btn-outline-light rounded-circle text-center mr-2 px-0" style="width: 36px; height: 36px;" href="#"><i class="fab fa-instagram"></i></a>
                            </div>
                        </div>
                        <div class="col-md-4 mb-5">
                            <h5 class="text-primary mb-4">nuestro menu</h5>
                            <div class="d-flex flex-column justify-content-start">
                                <a class="text-white mb-2" href="#"><i class="fa fa-angle-right mr-2"></i>Incio</a>
                                <a class="text-white mb-2" href="#"><i class="fa fa-angle-right mr-2"></i>Nosotros</a>
                                <a class="text-white mb-2" href="#"><i class="fa fa-angle-right mr-2"></i>Servicios</a>
                                <a class="text-white mb-2" href="#"><i class="fa fa-angle-right mr-2"></i>Equipo</a>
                                <a class="text-white" href="#"><i class="fa fa-angle-right mr-2"></i>Contacto</a>
                            </div>
                        </div>
                        <div class="col-md-4 mb-5">
                            <h5 class="text-primary mb-4">Mas información</h5>
                            <form action="">
                                <div class="form-group">
                                    <input type="text" class="form-control border-0" placeholder="Nombre" required="required" />
                                </div>
                                <div class="form-group">
                                    <input type="email" class="form-control border-0" placeholder="Correo Electronico" required="required" />
                                </div>
                                <div>
                                    <button class="btn btn-lg btn-primary btn-block border-0" type="submit">Enviar</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container-fluid text-white py-4 px-sm-3 px-md-5" style="background: #111111;">
            <div class="row">
                <div class="col-md-6 text-center text-md-left mb-3 mb-md-0">
                    <p class="m-0 text-white">
                        &copy; <a class="text-white font-weight-bold" href="#">PetCare</a>
                        <a class="text-white font-weight-bold" href="https://htmlcodex.com"></a>
                    </p>
                </div>
                <div class="col-md-6 text-center text-md-right">
                    <ul class="nav d-inline-flex">
                        <li class="nav-item">
                            <a class="nav-link text-white py-0" href="#">Privacy</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-white py-0" href="#">Terms</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-white py-0" href="#">FAQs</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-white py-0" href="#">Help</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- Footer End -->
    
    
        <!-- Back to Top -->
        <a href="#" class="btn btn-lg btn-primary back-to-top"><i class="fa fa-angle-double-up"></i></a>
    
    
        <!-- JavaScript Libraries -->
        <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>
        <script src="lib/easing/easing.min.js"></script>
        <script src="lib/owlcarousel/owl.carousel.min.js"></script>
        <script src="lib/tempusdominus/js/moment.min.js"></script>
        <script src="lib/tempusdominus/js/moment-timezone.min.js"></script>
        <script src="lib/tempusdominus/js/tempusdominus-bootstrap-4.min.js"></script>
    
        <!-- Contact Javascript File -->
        <script src="mail/jqBootstrapValidation.min.js"></script>
        <script src="mail/contact.js"></script>
    
        <!-- Template Javascript -->
        <script src="js/main.js"></script>
</body>

</html>

